@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::placeholder {
        color: #b8b8b8;
    }

    .styled-scrollbars::-webkit-scrollbar {
        height: 8px;
    }
    .styled-scrollbars::-webkit-scrollbar-thumb {
        /* Foreground */
        background: #838383;
        border-radius: 100px;
    }
    .styled-scrollbars::-webkit-scrollbar-track {
        /* Background */
        background: transparent;
    }

    option {
        background-color: #838383;
        padding: 2px;
    }

    .table-spacing td {
        padding: 10px 0;
    }
    .table-spacing td:nth-child(2) {
        text-align: right;
    }
}
