@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::placeholder {
        color: #b8b8b8;
    }

    .styled-scrollbars::-webkit-scrollbar {
        height: 8px;
    }
    .styled-scrollbars::-webkit-scrollbar-thumb {
        /* Foreground */
        background: #838383;
        border-radius: 100px;
    }
    .styled-scrollbars::-webkit-scrollbar-track {
        /* Background */
        background: transparent;
    }

    option {
        background-color: #313131;
    }

    .table-spacing td {
        padding: 10px 0;
    }
    .table-spacing td:nth-child(2) {
        text-align: right;
    }

    .attr-table tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px rgb(97, 97, 97) solid;
        padding: 10px 0;
        color: white;
    }
}
